<ul>
  <li class = 'floatLeft'><a href='/'>Home</a></li>
    <% if (!login) {%>
      <li class = 'floatRight'><a href='/user/logIn'>Log In</a></li>
      <li class = 'floatRight'><a href='/user/signup'>Sign Up</a></li>
    <% } else { %>
      <li class = 'floatRight'><a href='/user/logout'>Log Out</a></li>
      <li class = 'floatRight'><a href='/poll/managePolls'>Manage Polls</a></li>
    <% } %>
</ul>
