<html>

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <div class='content'>
    <% include ../partials/navbar.ejs %>
        <h1> Logged In! </h1>
      </div>
        <% include ../partials/footer.ejs %>
</body>

</html>
