html{
  height: 100%;
}

body{
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #333;
}

p{
    margin:auto;
    text-align: center;
}

.titleImage{
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 1em;
}

.navBarLogo {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    padding-top: 6px;
}

.navBarUl{
  height: 4em;
  margin: 0;
  border-bottom: 2px solid #cc5100;
}

.navBarButton{
    height: 100%;
}

.navBarText a{
  padding-top:15px
}


.createPollButton a{
  width: 20%;
  display: block;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 3em;
  color: white;
  background-color: #cc5100;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
  text-decoration: none;
}

ul.pollList {
  list-style: none;
  overflow: hidden;
  background-color: white;
  width: 60%;
  margin: auto;
  padding-top:3px;
  text-align: center;
}

.navBarButton a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 90px;
  height: 100%;
}

.formTitle{
  margin-bottom: 0.5em;
}

ul.managePollList {
  list-style-type: none;
  overflow:hidden;
  background-color: white;
  width: 60%;
  margin: auto;
  padding:3px;
  text-align: center;
}

li.managePollListItem a{
  display:inline;
  float: left;
  color: white;
  text-align: center;
  background-color: #333;
  width: 85%;
  margin: auto;
  margin-top: 3px;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}

li.deletePollButton a{
  display:inline;
  float: left;
  color: white;
  text-align: center;
  background-color: #333;
  width: 5%;
  margin: 3px;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}

li.tweetPollButton a{
  display:inline;
  float: left;
  color: white;
  text-align: center;
  background-color: #333;
  width: 5%;
  margin: 3px;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}


li.floatRight {
  float: right;
  margin-right: 5px;
}

li.floatLeft{
  float: left;
  margin-left: 5px;
}

li.pollListItem a{
  display:block;
  color: white;
  text-align: center;
  background-color: #333;
  width: 90%;
  margin:auto;
  margin-top: 4px;
  padding: 0.5em;
  border-radius: 5px;
  height:auto;
  text-decoration: none;
}

li a:hover, a:hover {
  background-color: #111;
}

.createPollButton a:hover {
  background-color: #A34100;
}

.title{
  font-size: 400%;
  color: #333;
  text-align: center;
}

.tagline{
  font-size: 200%;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 0.5em;
}

p a{
  color:#cc5100;
  font-weight: bold;
  text-decoration: none;
}

p a:hover{
  color: #A34100;
  background-color: white;
}

footer{
  color:#cc5100;
  text-align: center;
  background-color: #333;
  width: 100%;
  margin: 0;
  margin-top: 5em;
  padding: 1em;
  height: 3em;
  text-decoration: none;
  border-top: 2px solid #cc5100;
  font-size: 0.8em;
}
